html {}

body {
  background-image: ;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  font-family: "Helvetica";
  margin-left: 85%;
  text-align: left;
  font-size: 1vw;
  z-index: 2000;
  left: 76%;
  top: 83%;
}

.col-4 {
  position: absolute;
  top: 17px;
  left: 1020px;
  width: 410px;
}

.block {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  z-index: 2;
  margin-block-end: 10px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 255, 68, 0.5);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 255, 68, 0.5);
  box-shadow: 7px 7px 5px 0px rgba(0, 255, 68, 0.5);
}

.block.controls ul {
  list-style: circle;
}

li, ul, h2 {
  margin: 0;
  padding: 2;
  border: 0;
  font-size: 40%;
  font: inherit;
  vertical-align: baseline;
  font-family: Authentic, -apple-system, BlinkMacSystemFont, sans-serif;
}

button {
  background-color: rgba(255, 255, 255, 0.02);
  height: 100px;
  width: 70px;
  border: none;
  display: inline-block;
  position: absolute;
  left: 76%;
  top: 83%;
}

#mybut1 {
  background-color: rgba(255, 255, 255, 0.02);
  height: 100px;
  width: 70px;
  border: none;
  display: inline-block;
  position: absolute;
  left: 73%;
  top: 75%;
}


input[type=button], input[type=submit], input[type=reset] {
  background-color: rgba(255, 255, 255, 0.02);
  font-size: 1em;
  border: solid;
  color: #000000;
  border-radius: 20px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 88%;
  top: 89%;
}

input[type=button]:hover , input[type=submit]:hover , input[type=reset]:hover {
  color: #00FF44 !important;

}


input[name="image-map"] {
  display: block;
  z-index: 200000;
  border: red;
  border-style: solid;
  width: 500px;
  height: 330px;
}

map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  /* 500px; */
  height: 100%;
  /* 332px; */
  display: block;
  z-index: 2000;
  border: red;
  border-style: solid;
  display: none;
}

#overzicht {
  position: absolute;
  top: 390px;
  left: 1070px;
  display: block;
}

#overzicht2 {
  position: absolute;
  top: 390px;
  left: 1250px;
  display: block;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 860px;
  height: 615px;
  max-width: calc(140% - 2em);
  max-height: calc(100% - 2em);
  transform: translate(-50%, -50%);
  display: none;
  overflow: auto;
  z-index: +1;
  -webkit-box-shadow: 10px 10px 68px 28px rgba(0, 255, 68, 0.5);
-moz-box-shadow: 10px 10px 68px 28px rgba(0, 255, 68, 0.5);
box-shadow: 10px 10px 68px 28px rgba(0, 255, 68, 0.5);
}

#overzicht-big2 {
  display: none;
  z-index: 400;
}



#youtube-link-1 {
    position: absolute;
    top: 410px;
    left: 15px;
    width: 336px;
    height: 252px;
    border-top: 3px solid #00FF44;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00FF44), to(transparent));
   background-image: -webkit-linear-gradient(#000, transparent);
   background-image: -moz-linear-gradient(#00FF44, transparent), -moz-linear-gradient(#00FF44, transparent);
   background-image: -o-linear-gradient(#00FF44, transparent), -o-linear-gradient(#00FF44, transparent);
   background-image: linear-gradient(#00FF44, transparent), linear-gradient(#00FF44, transparent);
   -moz-background-size: 3px 100%;
   background-size: 3px 100%;
   background-position: 0 0, 100% 0;
   background-repeat: no-repeat;
  }


#youtube-link-2 {
    position: absolute;
    top: 18px;
    left: 15px;
    width: 220px;
    height: 133px;
    border-top: 3px solid #00FF44;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00FF44), to(transparent));
   background-image: -webkit-linear-gradient(#000, transparent);
   background-image: -moz-linear-gradient(#00FF44, transparent), -moz-linear-gradient(#00FF44, transparent);
   background-image: -o-linear-gradient(#00FF44, transparent), -o-linear-gradient(#00FF44, transparent);
   background-image: linear-gradient(#00FF44, transparent), linear-gradient(#00FF44, transparent);
   -moz-background-size: 3px 100%;
   background-size: 3px 100%;
   background-position: 0 0, 100% 0;
   background-repeat: no-repeat;
  }

#overzicht-big {
  display: none;
  z-index: 400;
}

#overzicht-big2 {
  display: none;
  z-index: 400;

}

#magazine {
  width: 1400px;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
}

#magazine .turn-page {
  background-size: 100% 100%;
}

.transcript {
  padding: 20px;
  background-color: #f4e1a2;
}

.popup img {
  width: 20px;
  height: 20px;
  cursor: pointer
}

.show {
  z-index: 999;
  display: none;
}

.show .overlay {
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, .66);
  position: absolute;
  top: 0;
  left: 0;
}

.show .img-show {
  width: 60px;
  height: 40px;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden
}

.img-show span {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
}

.img-show img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  background-color: rgba(0, 255, 68, 0.5);
}

a:hover img {
  background-color: none;
}

.links a {
  text-align: center;
  font-size: 2vw;
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.links a+a {
  margin-left: 10px;
}

.links a:hover {
  color: ;
}
